<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY_Dairy</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Navbar -->
  <section class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light div ">
      <div class="container con1">
        <a class="navbar-brand" href="#">My Dairy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active clickable" aria-current="page" href="/home.ejs">Home</a>
            <a class="nav-link clickable" href="/about">About Us</a>
            <a class="nav-link clickable" href="/contact">Contact Us</a>

          </div>
        </div>
      </div>
    </nav>